<!-- Metadata & head etc is loaded from layout -->

<!-- Navigation bar -->
{{> sharedPartials/navbar }}

<!-- Title and user data is given from route -->
<h1>{{title}}</h1>

<p>Hei {{user.given_name}}!</p>

<p>Käyttäjätunnus: {{user.id}}</p>
<p>Nimi: {{user.given_name}} {{user.family_name}}</p>
<p>Sähköpostiosoite: {{user.email}}</p>
<p>Käyttöoikeusryhmät:</p>
<ul>
  {{#each user.roles}}
  <li>{{this}}</li>
  {{/each}}
</ul>

<!-- Footer -->
{{> sharedPartials/footer }}

<a href="/logout">Kirjaudu ulos </a>